

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* header */
.banner-area{
  background-image: url('../images/assets/Hero-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Nav style */
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
}
.banner{
  margin: 0 200px;
  text-align: center;
}
.banner-title{
  font-size: 48px;
  font-weight: 800;
}
.banner-description{
  margin-bottom: 30px;
}
.btn-primary{
  background-color: black;
  color: white;
  padding: 21px 24px;
  text-decoration: none;
  
}

.section-title{
  font-size: 32px;
  font-weight: bold;
  color: #0D1321;
}


.nav-button{
  padding: 17px 24px;
}
/* main style */
main{
  max-width: 1140px;
  margin: 0 auto;
}
.why-web{
  padding: 60px 97px;
  background-color: #FAFAFB;
}

.section-heading{
  text-align: center;
  padding: 0 100px;
}

.why-web-area{
  display: flex;
  padding: 48px;
}

.why-web-content{
  margin:0 100px ;
}

.why-title{
  font-size: 24px;
  font-weight: 700;
}

.veido-area{
  text-align: center;
}

/* skills section styles */
.skills-container{
  display: flex;
  gap: 24px;
}

.skill{
   padding: 40px;
}
.first-skill{
  background-color: #FFFDF2;
}
.second-skill{
  background-color: #F2F6FE;
}
.third-skill{
  background-color: #EFF2F9;
}
.input-area{
  text-align: center;
}
.input-item{
  width: 400px;
  height: 50px;
}
.support-section{
  background-image: url("../images/assets/handshake.jpg");
  background-repeat: no-repeat;
  padding: 64px 48px;
  background-position: center;
  background-size: cover;
  margin-top: 60px;
}

.white-text{
  color: white;
  
}

footer{
  max-width: 1140px;
  margin: 0 auto;
}

#open-commit{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  
}