

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* header */
header{
  background-image: url('../images/assets/Hero-bg.png');
  background-repeat: no-repeat;
}

/* Nav style */
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
}
.banner{
  margin: 0 200px;
  text-align: center;
}
.banner-title{
  font-size: 48px;
  font-weight: 800;
}
.btn-primary{
  background-color: black;
  color: white;
  padding: 21px 24px;
}

.section-title{
  font-size: 32px;
  font-weight: bold;
  color: #0D1321;
}


.nav-button{
  padding: 17px 24px;
}
/* main style */
main{
  max-width: 1140px;
  margin: 0 auto;
}
.why-web{
  padding: 60px 97px;
}

.section-heading{
  text-align: center;
}

.why-web-area{
  display: flex;
  padding: 48px;
}

.why-web-content{
  margin:0 100px ;
}

.why-title{
  font-size: 24px;
  font-weight: 700;
}